<ol class="breadcrumb"> 
    <li class="breadcrumb-item"> <a href="/dashboarduser/tr/<%= all %>"> Home </a> </li>
    <li class="breadcrumb-item active"> Edit </li>
    </ol>
    
    <h1 class ="display-4"> Edit Account</h1>
    
    <form method="post" action="/dashboarduser/tr/edituserTransaction/<%= articles.id %>">
    
        <div class="form-group">
            <label for="title"> Account name </label>
            
            <input type="text" name="accountName" class="form-control" value= "<%= articles.accountName %>" required="true">
             
        </div>

        <div class="form-group">
            <label for="detail"> Account Type </label> 
            
          
            <select class="form-select" 

            name="accountType" 
            aria-label="Default select example" 
            id="accountType" required="true">

             

            <!-- <option class="selected" > <%= articles.accountType %> </option> -->

                        <!-- <option value="Income" option.value === ' <%= articles.accountType %> ' ? 'selected' : 'option.value' %> Income</option>
                        <option value="Transfer" option.value === ' <%= articles.accountType %> ' ? 'selected' : 'option.value' %> Transfer</option>
                        <option value="Expense" option.value === ' <%= articles.accountType %> ' ? 'selected' : 'option.value' %> Expense</option> -->

                        <% let trType = ['Income', 'Expense', 'Transfer'] %>

                        <% for (let i = 0; i < trType.length; i++) { %>
                            <% if (articles.accountType === trType[i]) { %>
                                <option value="<%= trType[i] %>" selected><%= trType[i] %></option>
                            <% } else { %>
                                <option value="<%= trType[i] %>"><%= trType[i] %></option>
                            
                            <% } %>
                        
                        <% } %>

                      
                

          </select>

    </div>

    <div class="form-group">
        <label for="title"> Transaction Amount </label>
        
        <input type="text" name="transactionAmount" class="form-control" value= "<%= articles.transactionAmount %>" required="true">
         
    </div>

    <div class="form-group">
        <label for="title"> Transaction Date </label>
        
        <input type="text" name="transactionAmount" class="form-control" value= "<%= articles.transactionDate %>" required="true">
         
    </div>
    
        <input type="submit" type="button" class="btn btn-primary">
        
    </form>
