<ol class="breadcrumb"> 
    <li class="breadcrumb-item"> <a href="/dashboarduser/tr/<%= all %>"> Home </a> </li>
    <li class="breadcrumb-item active"> Edit </li>
    </ol>
    
    <h1 class ="display-4"> Edit Account</h1>
    
    <form method="post" action="/dashboarduser/tr/edituserTransaction/<%= articles.id %>">
    
        <div class="form-group">
            <label for="title"> Account name </label>
            
            <input type="text" name="accountName" class="form-control" value= "<%= articles.accountName %>" required="true">
             
        </div>

        <div class="form-group">
            <label for="detail"> Account Type </label> 
            
          
            <select class="form-select" 

            name="accountType" 
            aria-label="Default select example" 
            id="accountType" required="true">

            <option selected> value= "<%= articles.accountType %>" </option> 
            <option value="Expense">Expense</option>
      

          </select>
    </div>

    <div class="form-group">
        <label for="title"> Transaction Amount </label>
        
        <input type="text" name="transactionAmount" class="form-control" value= "<%= articles.transactionAmount %>" required="true">
         
    </div>

    <div class="form-group">
        <label for="title"> Transaction Date </label>
        
        <input type="text" name="transactionAmount" class="form-control" value= "<%= articles.transactionDate %>" required="true">
         
    </div>
    
        <input type="submit" type="button" class="btn btn-primary">
        
    </form>
